<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.ap.ApMapper">
    <select id="selLocationCode" resultType="LocationCodeEntity">
        select * from location_code
    </select>

    <select id="selloca_cd" resultType="Integer">
        select loca_cd from location_code where ex_cd = ${excd}
    </select>

    <select id="selAptList" resultType="ApartmentInfoVO">
        SELECT A.*,B.loca_nm AS locanm from apartment_info A
        JOIN location_code B
        on A.excd = B.ex_cd
        where excd = #{excd} and dealyear = #{dealyear} and dealmonth = #{dealmonth}
        ORDER BY dealamount DESC
    </select>

    <insert id="insAptInfo">
        insert into apartment_info
        (dealamount,buildyear,dealyear,dealmonth,dealday,dong,apartmentname,areaforexclusiveuse,jibun,floor,locationcode,excd)
        values
        <foreach item="item" index="index" collection="array"
                 open="(" separator="),(" close=")">
            #{item.dealamount},#{item.buildyear},#{item.dealyear},#{item.dealmonth},#{item.dealday},#{item.dong},#{item.apartmentname},#{item.areaforexclusiveuse},#{item.jibun},#{item.floor},#{item.locationcode},#{item.excd}
        </foreach>
    </insert>



</mapper>